.card a {
    text-decoration: none;
}

.card a h3,
.card a.tag {
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    margin-left: -0.5em;
}

.card a.tag {
    margin-top: -0.25em;
}

.card a h3:hover,
.card a.tag:hover {
    color: #287bd1;
    background-color: rgba(40, 123, 209, 0.1);
    transition-duration: 200ms;
}

.card:hover {
    box-shadow: none;
}
